################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SeLigaRecife.Web/obj
/.vs
/SeLigaRecife.Web/bin/Debug/net6.0
/SeLigaRecife.Web/Migrations
