
.titulo {
    margin-bottom: 0;
    font-size: 25px;
    color: white;
}

.footer-bt{
    background-color: #0090FF;
}


/*  @media (max-height: 667px) {
 
    .map-container{
        height: 523px;
    }

} 

@media (min-width: 376px) and (max-width:390px) {

} */
/* 
@media (min-height: 668px) and (max-height:741px){
 
    .map-container{
        height: 580px;
    }

    

} 

@media (min-height: 895px) and (max-height:916px) {
    #header-text {
       
    }

    #card-maps {
        
    }

    .map-container{
        height: 750px;
    }

    #footer-bt {
       
    }
}  */