
.titulo {
    margin-bottom: 0;
    font-size: 25px;
    color: white;
}

.footer-bt{
    background-color: #0090FF;
}


 @media (max-height: 667px) {
 
    .map-container{
        height: 510px;
    }

} 

@media (min-height: 668px) and (max-height: 741px) {
 
    .map-container{
        height: 582px;
    }

} 

@media (min-height: 742px) and (max-height:852px) {
    .map-container{
        height: 685px;
    }
}

@media (min-height: 853px) and (max-height:900px) {
    .map-container{
        height: 735px;
    }
}

@media (min-height: 901px) and (max-height:916px) {
    .map-container{
        height: 755px;
    }
}
