<div class="modal fade" id="successModal" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img width="300" height="50" src="~/assets/imgs/Insira-logo.png">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid d-flex justify-content-center">
                    <img src="~/assets/imgs/success_image.png" />
                </div>
                <div class="mb-2 mt-3 d-flex justify-content-center">
                    <h5 class="titulo">Ponto adicionado!</h5>
                </div>
            </div>
        </div>
    </div>
</div>

